- content_for :title do "Jogo" end

%nav.navbar.navbar-inverse.bg-inverse
  .navbar-brand Teste
.container
  %h1 Olá
  %form(action='/lobby')
    %input.form-control(type='text' placeholder='Username')
    %button.btn.btn-lg.btn-primary Login
