#system-list.card
  .card-header
    Systems
  %ul.list-group.list-group-flush.systems
  %li.list-group-item.example
    .row
      .col-2
        %img.img-fluid(src='/images/solar-system.jpg')
      .col-8
        %span.system-name
      .col-2
        %button.btn.btn-primary.view-system
          View
