#system-viewer.card.hidden
  .card-header
    %span.system-name
      System Viewer
  .card-block
    .planets.row
    .col-md-3.col-lg-2.example
      .card.planet
        %img.card-img-top(src='/images/mars.jpg')
        .card-block
          %h4.card-title.name
          %p.card-text.description
          %button.btn.btn-primary
            View Planet

