body {
    background-color: #2b2265;
    overflow: hidden;
}

.example {
    display: none;
}

.planet img {
    height: 7rem;
}

#bottom-nav {
    position: fixed;
    bottom: 0rem;
    width: 100%;
}

#dialog {
    bottom: 0.5rem;
    left: 0.5rem;
    position: absolute;
    width: calc(100% - 1rem);
}

#display {
    overflow-x: hidden;
    overflow-y: auto;
}

#system-viewer {
    height: 100%;
}
